{% extends 'layout.html' %}

{% block title %}
    Decamart
{% endblock %}

{% block content %}
    <section id="showcase">

        <div class="content" style="margin: 10px 5px 0px 10px; ">
            <div class="row" >
                <div class="col-md-12 img-fluid" style="height: 30%;">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="../static/images/1.jpg" class="d-block w-100" alt="clothes">
                          </div>
                          <div class="carousel-item">
                            <img src="../static/images/2.jpg" class="d-block w-100" alt="clothe">
                          </div>
                          <div class="carousel-item">
                            <img src="../static/images/3.jpg" class="d-block w-100" alt="cloth">
                          </div>
                          <div class="carousel-item">
                            <img src="../static/images/5.jpg" class="d-block w-100" alt="cloth">
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 container-fluid" style="text-align: center;  padding-top:80px; font-weight: bolder; font-size:50px; font-family: var(--Lexend)">
                <h2> WELCOME TO DECA-MART</h2><br>
                    <h3>HOME OF WEARS <br>
                    GET THE BEST<br>
                AND<br>
            TRENDING WEARS</h3>
                </div>

            </div>

        </div>

    </section>

<section id="sidebar">

        <div class="aside" style="margin: 10px 5px 20px 20px;">
            <div class="row ">
                <div class="col-md-3" >
                    
                    <img src="../static/images/4.jpg" class="img-fluid" alt="clothe1">
                </div>
                <div class="col-md-3">
                    <img src="../static/images/6.jpg" class="img-fluid" alt="clothe1">
                </div>
                
                <div class="col-md-3">
                    <img src="../static/images/7.jpg" class="img-fluid" alt="clothe1">
                </div>
                <div class="col-md-3">
                    <img src="../static/images/8.jpg" class="img-fluid" alt="clothe1">
                </div>

            </div>

        </div>
</section>
{% endblock %}