{% extends 'layout.html' %}
{% block title %}
  Transaction Summary
{% endblock %}


{% block content %}

        <div style="margin-top: 10px;"><h3>TRANSACTION SUMMMARY</h3></div>
        <hr>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">CUSTOMER</th>
              <th scope="col">PURCHASE</th>
              <th scope="col">TRANSACTION ID</th>
              <th scope="col">QTY</th>
              <th scope="col">PRICE</th>
              <th scope="col">CONTACT</th>
              <th scope="col">DATE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <th scope="row">2</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <th scope="row">4</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <th scope="row">5</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <th scope="row">6</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <th scope="row">7</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <th scope="row">8</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <th scope="row">9</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

          </tbody>
        </table>

        <div>
            <h5>
                MONTH: April Year:2022 <br>
                WEEK SUMMARY: 21st April - 30th April 2022 <br>
                TOTAL TRANSACTION ; 80 <br>
                VALUE: 80 Millionnaire <br>
                PROFIT AFTER SALES: 20 MILLIONAIRE
            </h3>
        </div>
{% endblock %}




       